.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;

}

h1{
  color: rgb(203, 73, 26);
}

#reset{
  background-color: rgba(7, 97, 206, 0.975);
  border-radius: 1em;
  color: white;
  height: .5in;
  width: 1in;
}

#start{
  background-color: rgba(23, 126, 7, 0.975);
  border-radius: 1em;
  color: white;
  height: .5in;
  width: 1in;
  margin-top: 5ex;
  margin-left: 14ex;
  margin-right: 14ex;
}

#pause{
  background-color: rgba(234, 234, 11, 0.975);
  border-radius: 1em;
  color: rgb(235, 151, 151);
  height: .5in;
  width: 1in;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
