.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;

}

#reset{
  background-color: rgba(0, 78, 172, 0.975);
  border-radius: 1em;
  color: white;
}

#start{
  background-color: rgba(0, 78, 172, 0.975);
  border-radius: 1em;
  color: white;
}

#pause{
  background-color: rgba(0, 78, 172, 0.975);
  border-radius: 1em;
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
